

.container{

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        position: relative;
        .left-group{
            display: flex;
            align-items: center;
            gap: 1rem;
            .humburger{
                cursor: pointer;
            }
            .menu{
                background-color: $Black;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                height: 100vh;
                z-index: 99;

                .close-menu{
                    background-color: $White;
                    height: 100vh;
                    width: 65vw;
                    padding: 2rem;
                    img{
                        transition: transform .5s ease;
                        &:hover{
                            cursor: pointer;
                            transform: rotate(-180deg);
                        }
                    }
                    ul{
                        list-style: none;
                        padding-top: 3rem;
                        li{
                            padding-bottom: 1rem;
                            a, :active, :visited{
                                text-decoration: none;
                                color: $Very-vark-blue;
                                font-weight: 700;
                                &:hover{
                                    text-decoration: underline;
                                    opacity: .75;
                                }
                            }
                        }
                    }
                    
                }
                .hidden{
                    display: none;
                }
            }


            .logo{
                cursor: pointer;
            }
        }
        .right-group{
            display: flex;
            align-items: center;
            gap: 1.4rem;
            .btnCard{
                position: relative;
                img{
                   height: 20px;
                   cursor: pointer;
                }
                .card-count{
                    position: absolute;
                    top: -.6rem;
                    right: -25%;
                    font-size: .8rem;
                    padding: .1rem .4rem;
                    background-color: $orange;
                    color: $White;
                    border-radius: 50%;
                }
            }
            .avatar{
                img{
                    width: 30px;
                    height: 30px;

                    &:hover{
                        border: 1px solid $orange;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .cart-popUp{
        position: absolute;
        right: .5rem;
        top: calc(calc(100%) + .5rem) ;
        width: 22.5rem;
        border-radius: .5rem;
        background-color: $White;
        z-index: 98;
        .cart-header{
            border-bottom: 1px solid $Grayish-blue;
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: 700;
            color: $Very-vark-blue;
        }
        .products-cart{
            
            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 2rem;
                .product-img{
                    width: 4rem;
                    border-radius: .5rem;
                }
                .details{
                    font-size: 1rem;
                    color: $Dark-grayish-blue;
                    line-height: 1.8;
                    .product-name{
                        font-size: 1rem;
                    }
                    .pricing{
                        display: flex;
                        gap: .5rem;
                        .total{
                            color: $Very-vark-blue;
                            font-weight: 700;
                        }
                    }
                }
                .btnDel{
                    &:hover{
                        cursor: pointer;
                        background-color: $Pale-orange;
                    }
                }
            }
        }
        .empty-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4rem 0;
            color: $Dark-grayish-blue;
        }
        .checkout{
            background-color: $orange;
            color: $White;
            text-align: center;
            padding: 1rem;
            margin: 2rem;
            border-radius: .5rem;
            cursor: pointer;

        }
        .hidden{
            display: none;
        }
    }
    .hidden{
        display: none;
    }
}