
.product{
    padding: 1rem 2rem;
    .company-name{
        color: $orange;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
    }
    .product-title{
        color: $Very-vark-blue;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1;
    }
    .description{
        color: $Dark-grayish-blue;
        margin-top: .5rem;
        font-size: 1rem;
        line-height: 1.3;
    }
    .pricing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
        .current{
            display: flex;
            align-items: center;
            .price{
                padding-right: .5rem;
                font-size: 2rem;
                font-weight: 700;
                color: $Very-vark-blue;
            }
            .discount{
                color: $orange;
                background-color: $Pale-orange;
                padding: .1rem 1rem;
                border-radius: .2rem;
            }
        }
        .old-price{
            color: $Grayish-blue;
            text-decoration: line-through;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}